<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SchedulED - Login</title>
<link rel="stylesheet" href="/static/styles.css" />
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
<script src="/static/googleauth.js"></script>
<script>
    function gotoSignup(){
        window.location.href = "/create-account"
    }
</script>
</head>
<body>
<div id="login-form">
<h2>Login</h2>
<form action="/" method="POST">
<label for="username">Username (Email):</label>
<input type="text" id="username" name="username" required />
<label for="password">Password:</label>
<input type="password" id="password" name="password" required />
<button type="submit">Login</button>
<button onclick="gotoSignup()">No account? Sign up now!</button>
<p style="color: red;"></p>
</form>
<button id="google-signin-button" onclick="googleSignIn()">Sign in with Google</button>
</div>
</body>
</html>